.zadanie1  {
	color: red;
}
.zadanie1 .this-is-class{
	color: green;
}

.zadanie2 a { 
	color: green;
}

.zadanie3 li > a {
	color: green;
}
.zadanie3 a {
	color: red;
}

.zadanie4 #header {
	color: red;
}
.zadanie4 #content > h1 {
	color: green;
}

.zadanie5 #header > h1, .zadanie5 #content > p, .zadanie5 #content > p > a {
	color: red;
}
.zadanie5 #header .menu a {
	color: green;
}

.zadanie6 h1, .zadanie6 #header > .menu :nth-child(2) > a, .zadanie6 #header > .menu :first-child > a, .zadanie6 h1, .zadanie6 p, .zadanie6 p > a{
	color: green;
}

.zadanie7 #content > a{
	color: green;
}
.zadanie7 #content > p > a, .zadanie7 h1{
	color: red;
}

.zadanie8 input[value="tak"] {
	color: green;
}
.zadanie8 input[value="nie"] {
	color: red;
}

.zadanie9 span > span + span {
	color: green;
}
.zadanie9 span:nth-last-child(2) {
	color: red;
}

.zadanie10 :nth-child(2), .zadanie10 :nth-child(3) {
	color: red;
}
.zadanie10 :last-child, .zadanie10 :first-child {
	color: green;
}

.zadanie11 :nth-of-type(even){
	color: red;
}
.zadanie11 :nth-of-type(odd){
	color: green;
}

.zadanie12 :nth-of-type(2), .zadanie12 :nth-of-type(3), .zadanie12 :nth-of-type(7), .zadanie12 :nth-of-type(8) {
	color: red;
}
.zadanie12 :nth-of-type(4), .zadanie12 :nth-of-type(5), .zadanie12 :nth-of-type(9), .zadanie12 :nth-of-type(10) {
	color: green;
}