$font-size-button-small: 12px;
$width-button-small: auto;
$height-button-small: auto;
$min-width-button-small: 100 px;

$font-size-button: 18px;
$width-button: auto;
$height-button: auto;
$min-width-button: 120 px;

$font-size-button-big: 25px;
$width-button-big: auto;
$height-button-big: auto;
$min-width-button-big: 160 px;

$color-0: white;
$color-1: red;
$color-2: #e6b800;
$color-3: #3399ff;
$color-4: #00e6e6;
$color-hover: black;
$color-transparent: rgba(0, 0, 0, 0);

$border-default: 0px;
$border-round-1: 6px;
$border-round-2: 14px;

.row {
display: flex;
flex-direction: row;
}
.button {
	display: flex;
	font-size: $font-size-button;
	width: $width-button;
	height: $height-button;
	border: solid;
	border-radius: $border-default;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	margin-bottom: 10px;
	min-width: 120px;
}

.button--small {
	font-size: $font-size-button-small;
	width: $width-button-small;
	height: $height-button-small;
	min-width: 100px;
}
.button--big {
	font-size: $font-size-button-big;
	width: $width-button-big;
	height: $height-button-big;
	min-width: 170px;
}
.button--rounded-border-smaller {
	border-radius: $border-round-1;
}
.button--rounded-border-bigger {
	border-radius: $border-round-2;
}

.button--color-1 {
	color: $color-0;
	background: $color-1;
	border: solid $color-1;
	&:hover {
	color: $color-hover;
	}
}
.button--color-2 {
	color: $color-0;
	background: $color-2;
	border: solid $color-2;
	&:hover {
	color: $color-hover;
	}
}
.button--color-3 {
	color: $color-0;
	background: $color-3;
	border: solid $color-3;
	&:hover {
	color: $color-hover;
	}
}
.button--color-4 {
	color: $color-0;
	background: $color-4;
	border: solid $color-4;
	&:hover {
	color: $color-hover;
	}
}
.button--color-outline {
	background: $color-transparent;
	&.button--color-1 {
	color: $color-1;
	}
	&.button--color-2 {
	color: $color-2;
	}
	&.button--color-3 {
	color: $color-3;
	}
	&.button--color-4 {
	color: $color-4;
	}
	&:hover {
	color: black;
	}
}