@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
$font-size-button: 21px;
$width-button: auto;
$height-button: auto;
$min-width-button: 189px;
$min-height-button: 54px;
$color-0: #fafafa;
$color-1: #00a8e0;
$color-1-dark: #008fbe;
$color-2: #5cd2b9;
$color-2-dark: #45a38f;
$color-3: #e69d30;
$color-3-dark: #ad7624;
$color-4: rgba(0,0,0,0);
$color-4-dark: rgba(0, 0, 0, 0.253);
$color-5: #003781;
$color-pasek-1: #0046a3;
$color-pasek-2: #00a9de;
$color-pasek-3: #4bd1ba;
$color-pasek-4: #8d37f9;
$color-pasek-5: #ec9c39;
$color-pasek-6: #ff4a1b;
$color-pasek-7: #d71217;
$kolorowe-paski-height: 14.1px;
body {
margin: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.31;
  color: rgba(0,0,0,0.6);
 & .table td {
   color: #414141;
 }
 & .table .table__td--color-cancel {
	color: #e84c3d;
}
& .table .table__td--color-wait {
	color: #fb7e01;
}
}
header {
  background-color: #002d69;
  padding-top: 50px;
  padding-bottom: 60px;
}
.background {
  background: $color-0;
  padding:20px;
}
.header__text {
	font-size: 78px;
	font-weight: bold;
	line-height: 0.85;
	color: #ffffff;
}
.header__subtext{
	font-size: 50px;
  color: #00a8e3;
}
.chart {
margin-bottom: 34.9px;
margin-top: 78px;
height: $kolorowe-paski-height;
border-radius: 8.1px;
margin-left: 0px;
margin-right: 0px;
}
.chart chart__data {
display: flex;
margin-top: 86px;
height: $kolorowe-paski-height;
align-items: center;
  list-style-type:none;
}
.chart__data {
  position: relative;
}
.data--1 {
  background-color: $color-pasek-1;
  border-left: hidden;
  border-radius: 8.1px 0 0 8.1px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 10%;
}
.data--2 {
background-color: $color-pasek-2;
flex-grow: 1;
  flex-shrink: 1;
}
.data--3 {
  background-color: $color-pasek-3;
  flex-grow: 1;
    flex-shrink: 1;
}
.data--4 {
 background-color: $color-pasek-4;
 flex-grow: 1;
   flex-shrink: 1;
}
.data--5 {
  background-color: $color-pasek-5;
  flex-grow: 1;
    flex-shrink: 1;
}
.data--6 {
  background-color: $color-pasek-6;
  flex-grow: 1;
    flex-shrink: 1;
}
.data--7 {
  background-color: $color-pasek-7;
    border-radius: 0 8.1px  8.1px  0;
  flex-grow: 1;
    flex-shrink: 1;

}
.chart__data::after, .data--1::after, .data--2::after, .data--3::after, .data--4::after, .data--5::after, .data--6::after, .data--7::after {
  content:'';
  display: none;
  position: absolute;
  left: 40%;
      width: 0;
      height: 0;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-top: 30px solid $color-1;
	}
.chart__data:hover::after {
display: flex;
}
.data--1:hover::after {
  border-top: 30px solid $color-pasek-1;
}
.data--2:hover::after {
  border-top: 30px solid $color-pasek-2;
}
.data--3:hover::after {
  border-top: 30px solid $color-pasek-3;
}
.data--4:hover::after {
  border-top: 30px solid $color-pasek-4;
}
.data--5:hover::after {
  border-top: 30px solid $color-pasek-5;
}
.data--6:hover::after {
  border-top: 30px solid $color-pasek-6;
}
.data--7:hover::after {
  border-top: 30px solid $color-pasek-7;
}

.stat {
padding-bottom: 25px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.stat__content {
  font-size: 29px;
  font-weight: bold;
  line-height: 1.0;
  color: #ffffff;
  padding-bottom: 30px;
  & h3 {
  display: flex;
    margin-block-start: 0px;
    margin-block-end: 12px;
  color: $color-1;
  font-size: 22px;
  font-weight: bold;
  }
}

.content {
display: flex;
flex-direction: column;
align-items: center;
  background-color: #ffffff;
  padding-top: 120px;
   & h1 {
  font-size: 36px;
  font-weight: bold;
  color: $color-5;
  margin-block-start: 0px;
    margin-block-end: 0px;
  }
  & h3 {
  font-size: 14px;
  font-weight: 600;
  width: 296px;
  color: $color-1;
    margin-block-start: 0px;
    margin-block-end: 1px;
	
  }
 }
.content__element {
padding-bottom: 90px; 
width: 100%;
}
.text-module {
display: flex;
flex-direction: column;
  font-size: 36px;
}
.text-module__row {
position: relative;
display: flex;
}
.text-module__row__content {
  font-size: 16px;
  line-height: 1.31;
  margin-top: 40px;
}

.table {
border-collapse: separate;
border-spacing: 0px 8px;
padding-right: 20px;
}

.table-responsive {
width: 100%;
overflow-x: hidden;
}
.table-h1 {
padding-bottom: 40px;
}

.table__column {
width: auto;
}
.table thead th {
font-size: 14px;
  font-weight: 600;
  color: $color-1;
  margin-block-start: 0px;
  margin-block-end: 1px;
    border: none;
    padding: 0;
    padding-left: 20px;
	padding-bottom: 25px;
}
.table td {
  border: none;
  overflow: hidden;
  font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  max-width: 80px;
}
tbody {
background-color: $color-0;
align-items: center;
}

.info-module {
display: flex;
flex-direction: row;
& h1 {
	padding-bottom: 21px;
}

}
.info-module__content {
display: flex;
flex-direction: column;
margin-right: 45px;
}
.Policy h1 {
	padding-bottom: 30px;
}
.Policy__content {
display: flex;
flex-direction: column;
font-size: 13px;
text-align: justify;
margin-right: 25px;
}

.footer {
margin-left: auto;
}

.footer__list {
display: flex;
flex-direction: row;
align-items: flex-end;
list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    color: #c1c1c1;
  & li {
    padding-right: 7px;
  }
}
.footer__link {
  font-size: 14px;
  color: $color-5;
}
.footer__logo {
  height: 44px;
}

.button {
	display: flex;
	position: relative;
	font-size: $font-size-button;
	border: none;
  width: 100%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
  color: white;
  min-height: 75px;
	margin-bottom: 20px;
  outline: none;
}

 .button--color-1 {
 background-color: $color-1;
 border: solid $color-1;
 &:hover {
  background-color: $color-1-dark;
  border: solid $color-1-dark;
 }
 }
 .button--color-2 {
 background-color: $color-2;
 border: solid $color-2;
 &:hover {
  background-color: $color-2-dark;
  border: solid $color-2-dark;
 }
 }
 .button--color-3 {
 background-color: $color-3;
 border: solid $color-3;
 &:hover {
  background-color: $color-3-dark;
  border: solid $color-3-dark;
 }
 }
 .button--color-outline {
 background-color: $color-4;
 border: solid $color-1 3px;
 &:hover {
  background-color: $color-4-dark;
 }
 }
.button:after {
  height: 30px;
  width: 40px;
  background: #002d69;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  border-left: 1px solid transparent;
  transform: rotate(49deg) translate(100%);
  outline: none;
}
.button--color-outline:after {
	height: 20px;
    width: 30;
    background: #002d69;
    position: absolute;
    content: '';
    bottom: 8;
    right: 1;
    border-left: 3px solid $color-1;
}
