.row {
  display: flex;
  flex-direction: row; }

.button {
  display: flex;
  font-size: 18px;
  width: auto;
  height: auto;
  border: solid;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 10px;
  min-width: 120px; }

.button--small {
  font-size: 12px;
  width: auto;
  height: auto;
  min-width: 100px; }

.button--big {
  font-size: 25px;
  width: auto;
  height: auto;
  min-width: 170px; }

.button--rounded-border-smaller {
  border-radius: 6px; }

.button--rounded-border-bigger {
  border-radius: 14px; }

.button--color-1 {
  color: white;
  background: red;
  border: solid red; }
  .button--color-1:hover {
    color: black; }

.button--color-2 {
  color: white;
  background: #e6b800;
  border: solid #e6b800; }
  .button--color-2:hover {
    color: black; }

.button--color-3 {
  color: white;
  background: #3399ff;
  border: solid #3399ff; }
  .button--color-3:hover {
    color: black; }

.button--color-4 {
  color: white;
  background: #00e6e6;
  border: solid #00e6e6; }
  .button--color-4:hover {
    color: black; }

.button--color-outline {
  background: rgba(0, 0, 0, 0); }
  .button--color-outline.button--color-1 {
    color: red; }
  .button--color-outline.button--color-2 {
    color: #e6b800; }
  .button--color-outline.button--color-3 {
    color: #3399ff; }
  .button--color-outline.button--color-4 {
    color: #00e6e6; }
  .button--color-outline:hover {
    color: black; }

/*# sourceMappingURL=style.css.map */
