@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@font-face {
  font-family: 'Allianz';
  src:url('../../fonts/allianzneo/woff/AllianzNeoW04-Regular.woff') format('woff'),
      url('../../fonts/allianzneo/svg/AllianzNeoW04-Regular.svg') format('svg'),
      url('../../fonts/allianzneo/eot/AllianzNeoW04-Regular.eot');
  font-weight: normal;
  font-style: normal;
}
$font-size-button: 21px;
$width-button: auto;
$height-button: auto;
$min-width-button: 189px;
$min-height-button: 54px;
$color-0: #fafafa;
$color-1: #00a8e0;
$color-1-dark: #008fbe;
$color-2: #5cd2b9;
$color-2-dark: #45a38f;
$color-3: #e69d30;
$color-3-dark: #ad7624;
$color-4: rgba(0,0,0,0);
$color-4-dark: rgba(0, 0, 0, 0.253);
$color-5: #003781;
$color-body: rgba(0,0,0,0.6);
$color-table-td: #414141;
$color-nav: #013885;
$color-pasek-1: #0046a3;
$color-pasek-2: rgb(0, 169, 222);
$color-pasek-3: #4bd1ba;
$color-pasek-4: #8d37f9;
$color-pasek-5: #ec9c39;
$color-pasek-6: #ff4a1b;
$color-pasek-7: #d71217;
$kolorowe-paski-height: 14.1px;
body {
margin: 0;
  font-family: Allianz;
  font-size: 16px;
  line-height: 1.31;
  color: $color-body;
 & .table td {
   color: $color-table-td;
 }
 & .table .table__td--color-cancel {
	color: #e84c3d;
}
& .table .table__td--color-wait {
	color: #fb7e01;
}
}
header {
  background-color: #002d69;
  padding-bottom: 60px;
}
.background {
  background: $color-0;
  padding:20px;
}
.header__text {
  margin-top: 180px;
	font-size: 78px;
	font-weight: bold;
	line-height: 0.85;
	color: #ffffff;
}
.header__subtext{
	font-size: 50px;
  color: #00a8e3;
}
.chart {
margin-bottom: 34.9px;
margin-top: 78px;
height: $kolorowe-paski-height;
border-radius: 8.1px;
margin-left: 0px;
margin-right: 0px;
display: flex;
}
.chart chart__data {
display: flex;
margin-top: 86px;
height: $kolorowe-paski-height;
align-items: center;
  list-style-type:none;
}
.chart__data {
  position: relative;
}
.data--1 {
  background-color: $color-pasek-1;
  border-left: hidden;
  border-radius: 8.1px 0 0 8.1px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 10%;
}
.data--2 {
background-color: $color-pasek-2;
flex-grow: 1;
  flex-shrink: 1;
}
.data--3 {
  background-color: $color-pasek-3;
  flex-grow: 1;
    flex-shrink: 1;
}
.data--4 {
 background-color: $color-pasek-4;
 flex-grow: 1;
   flex-shrink: 1;
}
.data--5 {
  background-color: $color-pasek-5;
  flex-grow: 1;
    flex-shrink: 1;
}
.data--6 {
  background-color: $color-pasek-6;
  flex-grow: 1;
    flex-shrink: 1;
}
.data--7 {
  background-color: $color-pasek-7;
    border-radius: 0 8.1px  8.1px  0;
  flex-grow: 1;
    flex-shrink: 1;

}
.chart__data::after, .data--1::after, .data--2::after, .data--3::after, .data--4::after, .data--5::after, .data--6::after, .data--7::after {
  content:'';
  display: none;
  position: absolute;
  left: 40%;
      width: 0;
      height: 0;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-top: 30px solid $color-1;
	}
.chart__data:hover::after {
display: flex;
}
.data--1:hover::after {
  border-top: 30px solid $color-pasek-1;
}
.data--2:hover::after {
  border-top: 30px solid $color-pasek-2;
}
.data--3:hover::after {
  border-top: 30px solid $color-pasek-3;
}
.data--4:hover::after {
  border-top: 30px solid $color-pasek-4;
}
.data--5:hover::after {
  border-top: 30px solid $color-pasek-5;
}
.data--6:hover::after {
  border-top: 30px solid $color-pasek-6;
}
.data--7:hover::after {
  border-top: 30px solid $color-pasek-7;
}

.stat {
padding-bottom: 25px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.stat__content {
  font-size: 29px;
  font-weight: bold;
  line-height: 1.0;
  color: #ffffff;
  padding-bottom: 30px;
  & h3 {
  display: flex;
    margin-block-start: 0px;
    margin-block-end: 12px;
  color: $color-1;
  font-size: 22px;
  font-weight: bold;
  }
}

.content {
display: flex;
flex-direction: column;
align-items: center;
  background-color: #ffffff;
  padding-top: 120px;
   & h1 {
  font-size: 36px;
  font-weight: bold;
  color: $color-5;
  margin-block-start: 0px;
    margin-block-end: 0px;
  }
  & h3 {
  font-size: 14px;
  font-weight: 600;
  width: 296px;
  color: $color-1;
    margin-block-start: 0px;
    margin-block-end: 1px;
	
  }
 }
.content__element {
padding-bottom: 90px; 
width: 100%;
}
.text-module {
display: flex;
flex-direction: column;
  font-size: 36px;
}
.text-module__row {
position: relative;
display: flex;
}
.text-module__row__content {
  font-size: 16px;
  line-height: 1.31;
  margin-top: 40px;
}

.table {
border-collapse: separate;
border-spacing: 0px 8px;
padding-right: 20px;
}
td:empty:after {
  content: '-';
}

.table-responsive {
width: 100%;
overflow-x: hidden;
}
.table-h1 {
padding-bottom: 40px;
}

.table__column {
width: auto;
}
.table thead th {
font-size: 14px;
  font-weight: 600;
  color: $color-1;
  margin-block-start: 0px;
  margin-block-end: 1px;
    border: none;
    padding: 0;
    padding-left: 20px;
	padding-bottom: 25px;
}
.table td {
  border: none;
  font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tbody {
background-color: $color-0;
align-items: center;
}


.info-module__content {
display: flex;
flex-direction: column;

& h1 {
	padding-bottom: 21px;
}
}

.Policy h1 {
	padding-bottom: 30px;
}
.Policy__content {
display: flex;
flex-direction: column;
font-size: 13px;
text-align: justify;
}

.footer {
margin-left: auto;
}

.footer__list {
display: flex;
flex-direction: row;
align-items: flex-end;
list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    color: #c1c1c1;
  & li {
    padding-right: 7px;
  }
}
.footer__link {
  font-size: 13px;
  color: $color-5;
}
.footer__logo {
  height: 44px;
}

.buttons {
  overflow: hidden;
}
.button {
	display: flex;
	position: relative;
	font-size: $font-size-button;
	border: none;
  width: 100%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
  color: white;
  min-height: 75px;
	margin-bottom: 20px;
  outline: none;
}

 .button--color-1 {
 background-color: $color-1;
 border: solid $color-1;
 &:hover {
  background-color: $color-1-dark;
  border: solid $color-1-dark;
 }
 }
 .button--color-2 {
 background-color: $color-2;
 border: solid $color-2;
 &:hover {
  background-color: $color-2-dark;
  border: solid $color-2-dark;
 }
 }
 .button--color-3 {
 background-color: $color-3;
 border: solid $color-3;
 &:hover {
  background-color: $color-3-dark;
  border: solid $color-3-dark;
 }
 }
 .button--color-outline {
 background-color: $color-4;
 border: solid $color-1 3px;
 &:hover {
  background-color: $color-4-dark;
 }
 }
.button:after {
  height: 30px;
  width: 40px;
  background: #002d69;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  border-left: 1px solid transparent;
  transform: rotate(49deg) translate(100%);
  outline: none;
}
.button--color-outline:after {
	height: 20px;
    width: 33;
    background: #002d69;
    position: absolute;
    content: '';
    bottom: 8;
    right: 1;
    border-left: 3px solid $color-1;
}



.topnav {
  background-color: $color-nav;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  height: 90px;
}

.topnav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topnav__element {
  color: white; 
  text-align: center;
  height: 100%;
  width: 80px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topnav__element--logo {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topnav__element--account {
 display: flex;
}
.topnav__element--user {
  color: white; 
  height: 100%;
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
}
.user--name {
  text-align: right;
  width: 140px;
  font-size: 18px;
  font-weight: 600;
}
.user--log {
  font-size: 13px;
  text-align: left;
}

.topnav__element:hover {
  background-color: #002d69;
}

.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
}
.topnav a:hover {
  background-color: #002d69;
}
.logo {
  display: flex;
  width: 180px;
  height: 80px;
  background-image: url("../../img/logo.svg");
  background-size: cover;
}
.account {
  display: flex;
  align-self: center;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-image: url("../../img/account.svg");
  background-size: cover;
}

.topnav__dropdown__content {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
      width: 300px;
      background: #002d69;
      box-shadow: 5px 5px 10px black;
}
.topnav__dropdown__link:last-child {
  border-bottom: hidden;
}
.topnav__dropdown__link {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  width: 300px;
      padding-bottom: 20px;
      padding-top: 25px;
      border-bottom: solid 1px rgba(0, 169, 222, 0.253);;
}

.topnav__dropdown:hover .topnav__dropdown__content{
  display: flex;
}
.topnav__dropdown {
  position: relative;
}
.topnav__dropdown:after {
  content: '\2304';
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px;
}
@media only screen and (max-width: 991px) {
  .stat__content {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 50px;
    & h3 {
    font-size: 18px;
    font-weight: bold;
    }
  }
  .footer__text {
    font-size: 14px;
  }
  .chart {
    display: none;
  }
  .header__text {
    padding-bottom: 50px;
  }
  .header__subtext {
    padding-top: 25px;
  }
  

  thead {
    display: none;
  }
  .table__data--price {
    display: none;
  }
  .table td {
    overflow: hidden;
    padding: 0;
    padding-bottom: 5px;
  }
  table tr {
    padding-bottom: 20px;
  }
  .table-h1 {
    padding-bottom: 15px;
  }
  td:empty {
    display: none;
  }
  td[data-status]:before {
    content: attr(data-status);
    padding-right: 5px;
    color: $color-table-td;
  }
  td[data-date]:before {
    content: attr(data-date);
    padding-right: 5px;
  }
  td[data-type]:before {
    content: attr(data-type);
    padding-right: 5px;
  }
  td[data-registry]:before {
    content: attr(data-registry);
    padding-right: 5px;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  tr > :nth-child(1) {
    order: 2;
  }
  tr > :nth-child(2) {
    order: 1;
    font-weight: bold;
    font-size: 18px;
  }
  tr > :nth-child(4) {
    order: 3;
  }
  tr > :nth-child(5) {
    order: 4;
  }
  tr > :nth-child(6) {
    order: 5;
  }
  
  
}
@media only screen and (min-width: 992px){
  table td {
    overflow: hidden;
    max-width: 80px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .topnav__element--logo {
    width: 60px;
  }
  .logo {
    width: 60px;
    height: 60px;
    background-image: url("../../img/logo-small.svg");
    background-size: cover;
  }
  .topnav__element--user {
  display: none;
  visibility: hidden;
  }
  .topnav__element--account {
    margin-left: auto;
   }
}
@media only screen and (max-width: 575px) {
  .navigation {
    position: fixed;
    z-index: 99;
  }
  .topnav__dropdown {
    position: static;
  }
  .topnav__dropdown__content {
    width: 100%;
  }
  .topnav__dropdown__link {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  .account {
    margin-right: 0;
  }
  .topnav__element--logo {
    margin-left: 20px;
  }
  }