@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
body {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.31;
  color: rgba(0, 0, 0, 0.6); }
  body .table td {
    color: #414141; }
  body .table .table__td--color-cancel {
    color: #e84c3d; }
  body .table .table__td--color-wait {
    color: #fb7e01; }

header {
  background-color: #002d69;
  padding-top: 50px;
  padding-bottom: 60px; }

.background {
  background: #fafafa;
  padding: 20px; }

.header__text {
  font-size: 78px;
  font-weight: bold;
  line-height: 0.85;
  color: #ffffff; }

.header__subtext {
  font-size: 50px;
  color: #00a8e3; }

.chart {
  margin-bottom: 34.9px;
  margin-top: 78px;
  height: 14.1px;
  border-radius: 8.1px;
  margin-left: 0px;
  margin-right: 0px; }

.chart chart__data {
  display: flex;
  margin-top: 86px;
  height: 14.1px;
  align-items: center;
  list-style-type: none; }

.chart__data {
  position: relative; }

.data--1 {
  background-color: #0046a3;
  border-left: hidden;
  border-radius: 8.1px 0 0 8.1px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 10%; }

.data--2 {
  background-color: #00a9de;
  flex-grow: 1;
  flex-shrink: 1; }

.data--3 {
  background-color: #4bd1ba;
  flex-grow: 1;
  flex-shrink: 1; }

.data--4 {
  background-color: #8d37f9;
  flex-grow: 1;
  flex-shrink: 1; }

.data--5 {
  background-color: #ec9c39;
  flex-grow: 1;
  flex-shrink: 1; }

.data--6 {
  background-color: #ff4a1b;
  flex-grow: 1;
  flex-shrink: 1; }

.data--7 {
  background-color: #d71217;
  border-radius: 0 8.1px  8.1px  0;
  flex-grow: 1;
  flex-shrink: 1; }

.chart__data::after, .data--1::after, .data--2::after, .data--3::after, .data--4::after, .data--5::after, .data--6::after, .data--7::after {
  content: '';
  display: none;
  position: absolute;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 30px solid #00a8e0; }

.chart__data:hover::after {
  display: flex; }

.data--1:hover::after {
  border-top: 30px solid #0046a3; }

.data--2:hover::after {
  border-top: 30px solid #00a9de; }

.data--3:hover::after {
  border-top: 30px solid #4bd1ba; }

.data--4:hover::after {
  border-top: 30px solid #8d37f9; }

.data--5:hover::after {
  border-top: 30px solid #ec9c39; }

.data--6:hover::after {
  border-top: 30px solid #ff4a1b; }

.data--7:hover::after {
  border-top: 30px solid #d71217; }

.stat {
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.stat__content {
  font-size: 29px;
  font-weight: bold;
  line-height: 1.0;
  color: #ffffff;
  padding-bottom: 30px; }
  .stat__content h3 {
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 12px;
    color: #00a8e0;
    font-size: 22px;
    font-weight: bold; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-top: 120px; }
  .content h1 {
    font-size: 36px;
    font-weight: bold;
    color: #003781;
    margin-block-start: 0px;
    margin-block-end: 0px; }
  .content h3 {
    font-size: 14px;
    font-weight: 600;
    width: 296px;
    color: #00a8e0;
    margin-block-start: 0px;
    margin-block-end: 1px; }

.content__element {
  padding-bottom: 90px;
  width: 100%; }

.text-module {
  display: flex;
  flex-direction: column;
  font-size: 36px; }

.text-module__row {
  position: relative;
  display: flex; }

.text-module__row__content {
  font-size: 16px;
  line-height: 1.31;
  margin-top: 40px; }

.table {
  border-collapse: separate;
  border-spacing: 0px 8px;
  padding-right: 20px; }

.table-responsive {
  width: 100%;
  overflow-x: hidden; }

.table-h1 {
  padding-bottom: 40px; }

.table__column {
  width: auto; }

.table thead th {
  font-size: 14px;
  font-weight: 600;
  color: #00a8e0;
  margin-block-start: 0px;
  margin-block-end: 1px;
  border: none;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 25px; }

.table td {
  border: none;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  max-width: 80px; }

tbody {
  background-color: #fafafa;
  align-items: center; }

.info-module {
  display: flex;
  flex-direction: row; }
  .info-module h1 {
    padding-bottom: 21px; }

.info-module__content {
  display: flex;
  flex-direction: column;
  margin-right: 45px; }

.Policy h1 {
  padding-bottom: 30px; }

.Policy__content {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  text-align: justify;
  margin-right: 25px; }

.footer {
  margin-left: auto; }

.footer__list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  color: #c1c1c1; }
  .footer__list li {
    padding-right: 7px; }

.footer__link {
  font-size: 14px;
  color: #003781; }

.footer__logo {
  height: 44px; }

.button {
  display: flex;
  position: relative;
  font-size: 21px;
  border: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  min-height: 75px;
  margin-bottom: 20px;
  outline: none; }

.button--color-1 {
  background-color: #00a8e0;
  border: solid #00a8e0; }
  .button--color-1:hover {
    background-color: #008fbe;
    border: solid #008fbe; }

.button--color-2 {
  background-color: #5cd2b9;
  border: solid #5cd2b9; }
  .button--color-2:hover {
    background-color: #45a38f;
    border: solid #45a38f; }

.button--color-3 {
  background-color: #e69d30;
  border: solid #e69d30; }
  .button--color-3:hover {
    background-color: #ad7624;
    border: solid #ad7624; }

.button--color-outline {
  background-color: rgba(0, 0, 0, 0);
  border: solid #00a8e0 3px; }
  .button--color-outline:hover {
    background-color: rgba(0, 0, 0, 0.253); }

.button:after {
  height: 30px;
  width: 40px;
  background: #002d69;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  border-left: 1px solid transparent;
  transform: rotate(49deg) translate(100%);
  outline: none; }

.button--color-outline:after {
  height: 20px;
  width: 30;
  background: #002d69;
  position: absolute;
  content: '';
  bottom: 8;
  right: 1;
  border-left: 3px solid #00a8e0; }

/*# sourceMappingURL=style.css.map */
