@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@font-face {
  font-family: 'Allianz';
  src: url("../../fonts/allianzneo/woff/AllianzNeoW04-Regular.woff") format("woff"), url("../../fonts/allianzneo/svg/AllianzNeoW04-Regular.svg") format("svg"), url("../../fonts/allianzneo/eot/AllianzNeoW04-Regular.eot");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  font-family: Allianz;
  font-size: 16px;
  line-height: 1.31;
  color: rgba(0, 0, 0, 0.6); }
  body .table td {
    color: #414141; }
  body .table .table__td--color-cancel {
    color: #e84c3d; }
  body .table .table__td--color-wait {
    color: #fb7e01; }

header {
  background-color: #002d69;
  padding-bottom: 60px; }

.background {
  background: #fafafa;
  padding: 20px; }

.header__text {
  margin-top: 180px;
  font-size: 78px;
  font-weight: bold;
  line-height: 0.85;
  color: #ffffff; }

.header__subtext {
  font-size: 50px;
  color: #00a8e3; }

.chart {
  margin-bottom: 34.9px;
  margin-top: 78px;
  height: 14.1px;
  border-radius: 8.1px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex; }

.chart chart__data {
  display: flex;
  margin-top: 86px;
  height: 14.1px;
  align-items: center;
  list-style-type: none; }

.chart__data {
  position: relative; }

.data--1 {
  background-color: #0046a3;
  border-left: hidden;
  border-radius: 8.1px 0 0 8.1px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 10%; }

.data--2 {
  background-color: #00a9de;
  flex-grow: 1;
  flex-shrink: 1; }

.data--3 {
  background-color: #4bd1ba;
  flex-grow: 1;
  flex-shrink: 1; }

.data--4 {
  background-color: #8d37f9;
  flex-grow: 1;
  flex-shrink: 1; }

.data--5 {
  background-color: #ec9c39;
  flex-grow: 1;
  flex-shrink: 1; }

.data--6 {
  background-color: #ff4a1b;
  flex-grow: 1;
  flex-shrink: 1; }

.data--7 {
  background-color: #d71217;
  border-radius: 0 8.1px  8.1px  0;
  flex-grow: 1;
  flex-shrink: 1; }

.chart__data::after, .data--1::after, .data--2::after, .data--3::after, .data--4::after, .data--5::after, .data--6::after, .data--7::after {
  content: '';
  display: none;
  position: absolute;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 30px solid #00a8e0; }

.chart__data:hover::after {
  display: flex; }

.data--1:hover::after {
  border-top: 30px solid #0046a3; }

.data--2:hover::after {
  border-top: 30px solid #00a9de; }

.data--3:hover::after {
  border-top: 30px solid #4bd1ba; }

.data--4:hover::after {
  border-top: 30px solid #8d37f9; }

.data--5:hover::after {
  border-top: 30px solid #ec9c39; }

.data--6:hover::after {
  border-top: 30px solid #ff4a1b; }

.data--7:hover::after {
  border-top: 30px solid #d71217; }

.stat {
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.stat__content {
  font-size: 29px;
  font-weight: bold;
  line-height: 1.0;
  color: #ffffff;
  padding-bottom: 30px; }
  .stat__content h3 {
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 12px;
    color: #00a8e0;
    font-size: 22px;
    font-weight: bold; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-top: 120px; }
  .content h1 {
    font-size: 36px;
    font-weight: bold;
    color: #003781;
    margin-block-start: 0px;
    margin-block-end: 0px; }
  .content h3 {
    font-size: 14px;
    font-weight: 600;
    width: 296px;
    color: #00a8e0;
    margin-block-start: 0px;
    margin-block-end: 1px; }

.content__element {
  padding-bottom: 90px;
  width: 100%; }

.text-module {
  display: flex;
  flex-direction: column;
  font-size: 36px; }

.text-module__row {
  position: relative;
  display: flex; }

.text-module__row__content {
  font-size: 16px;
  line-height: 1.31;
  margin-top: 40px; }

.table {
  border-collapse: separate;
  border-spacing: 0px 8px;
  padding-right: 20px; }

td:empty:after {
  content: '-'; }

.table-responsive {
  width: 100%;
  overflow-x: hidden; }

.table-h1 {
  padding-bottom: 40px; }

.table__column {
  width: auto; }

.table thead th {
  font-size: 14px;
  font-weight: 600;
  color: #00a8e0;
  margin-block-start: 0px;
  margin-block-end: 1px;
  border: none;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 25px; }

.table td {
  border: none;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap; }

tbody {
  background-color: #fafafa;
  align-items: center; }

.info-module__content {
  display: flex;
  flex-direction: column; }
  .info-module__content h1 {
    padding-bottom: 21px; }

.Policy h1 {
  padding-bottom: 30px; }

.Policy__content {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  text-align: justify; }

.footer {
  margin-left: auto; }

.footer__list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  color: #c1c1c1; }
  .footer__list li {
    padding-right: 7px; }

.footer__link {
  font-size: 13px;
  color: #003781; }

.footer__logo {
  height: 44px; }

.buttons {
  overflow: hidden; }

.button {
  display: flex;
  position: relative;
  font-size: 21px;
  border: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  min-height: 75px;
  margin-bottom: 20px;
  outline: none; }

.button--color-1 {
  background-color: #00a8e0;
  border: solid #00a8e0; }
  .button--color-1:hover {
    background-color: #008fbe;
    border: solid #008fbe; }

.button--color-2 {
  background-color: #5cd2b9;
  border: solid #5cd2b9; }
  .button--color-2:hover {
    background-color: #45a38f;
    border: solid #45a38f; }

.button--color-3 {
  background-color: #e69d30;
  border: solid #e69d30; }
  .button--color-3:hover {
    background-color: #ad7624;
    border: solid #ad7624; }

.button--color-outline {
  background-color: rgba(0, 0, 0, 0);
  border: solid #00a8e0 3px; }
  .button--color-outline:hover {
    background-color: rgba(0, 0, 0, 0.253); }

.button:after {
  height: 30px;
  width: 40px;
  background: #002d69;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  border-left: 1px solid transparent;
  transform: rotate(49deg) translate(100%);
  outline: none; }

.button--color-outline:after {
  height: 20px;
  width: 33;
  background: #002d69;
  position: absolute;
  content: '';
  bottom: 8;
  right: 1;
  border-left: 3px solid #00a8e0; }

.topnav {
  background-color: #013885;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  height: 90px; }

.topnav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center; }

.topnav__element {
  color: white;
  text-align: center;
  height: 100%;
  width: 80px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.topnav__element--logo {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.topnav__element--account {
  display: flex; }

.topnav__element--user {
  color: white;
  height: 100%;
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  margin-left: auto; }

.user--name {
  text-align: right;
  width: 140px;
  font-size: 18px;
  font-weight: 600; }

.user--log {
  font-size: 13px;
  text-align: left; }

.topnav__element:hover {
  background-color: #002d69; }

.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700; }

.topnav a:hover {
  background-color: #002d69; }

.logo {
  display: flex;
  width: 180px;
  height: 80px;
  background-image: url("../../img/logo.svg");
  background-size: cover; }

.account {
  display: flex;
  align-self: center;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-image: url("../../img/account.svg");
  background-size: cover; }

.topnav__dropdown__content {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  width: 300px;
  background: #002d69;
  box-shadow: 5px 5px 10px black; }

.topnav__dropdown__link:last-child {
  border-bottom: hidden; }

.topnav__dropdown__link {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  width: 300px;
  padding-bottom: 20px;
  padding-top: 25px;
  border-bottom: solid 1px rgba(0, 169, 222, 0.253); }

.topnav__dropdown:hover .topnav__dropdown__content {
  display: flex; }

.topnav__dropdown {
  position: relative; }

.topnav__dropdown:after {
  content: '\2304';
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px; }

@media only screen and (max-width: 991px) {
  .stat__content {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 50px; }
    .stat__content h3 {
      font-size: 18px;
      font-weight: bold; }

  .footer__text {
    font-size: 14px; }

  .chart {
    display: none; }

  .header__text {
    padding-bottom: 50px; }

  .header__subtext {
    padding-top: 25px; }

  thead {
    display: none; }

  .table__data--price {
    display: none; }

  .table td {
    overflow: hidden;
    padding: 0;
    padding-bottom: 5px; }

  table tr {
    padding-bottom: 20px; }

  .table-h1 {
    padding-bottom: 15px; }

  td:empty {
    display: none; }

  td[data-status]:before {
    content: attr(data-status);
    padding-right: 5px;
    color: #414141; }

  td[data-date]:before {
    content: attr(data-date);
    padding-right: 5px; }

  td[data-type]:before {
    content: attr(data-type);
    padding-right: 5px; }

  td[data-registry]:before {
    content: attr(data-registry);
    padding-right: 5px; }

  tr {
    display: flex;
    flex-direction: column; }

  tr > :nth-child(1) {
    order: 2; }

  tr > :nth-child(2) {
    order: 1;
    font-weight: bold;
    font-size: 18px; }

  tr > :nth-child(4) {
    order: 3; }

  tr > :nth-child(5) {
    order: 4; }

  tr > :nth-child(6) {
    order: 5; } }
@media only screen and (min-width: 992px) {
  table td {
    overflow: hidden;
    max-width: 80px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px; } }
@media only screen and (max-width: 768px) {
  .topnav__element--logo {
    width: 60px; }

  .logo {
    width: 60px;
    height: 60px;
    background-image: url("../../img/logo-small.svg");
    background-size: cover; }

  .topnav__element--user {
    display: none;
    visibility: hidden; }

  .topnav__element--account {
    margin-left: auto; } }
@media only screen and (max-width: 575px) {
  .navigation {
    position: fixed;
    z-index: 99; }

  .topnav__dropdown {
    position: static; }

  .topnav__dropdown__content {
    width: 100%; }

  .topnav__dropdown__link {
    width: 100%;
    text-align: left;
    padding-left: 20px; }

  .account {
    margin-right: 0; }

  .topnav__element--logo {
    margin-left: 20px; } }

/*# sourceMappingURL=style.css.map */
